#tower1, #tower3 {
    -fx-background-image: url("./tower.png");
    -fx-background-color: lightblue;
}

#tower11, #tower33, #tower44 {
    -fx-background-image: url("tower2.png");
}

#tower22 {
    -fx-background-image: url("./tower2.png");
    -fx-background-color: rgba(0, 255, 0, 0.1);
}

#tower2{
    -fx-background-image: url("./tower.png");
    -fx-background-color: rgba(0,255,0,0.1);
}

#green{
    -fx-background-color: green;
}

#top{
    -fx-background-color: dimgrey;
}

.topButtons{
    -fx-background-color: Black;
    -fx-border-color: white;
    -fx-border-width: 1px;
}